PORT=3003
ORDER_SERVICE_PORT=3003
MONGO_URI=mongodb://mongodb:27017/order_db
MONGODB_DB_NAME=order_db
USER_SERVICE_URL=http://user-service:3001
PRODUCT_SERVICE_URL=http://product-service:3002
REQUEST_TIMEOUT_MS=3000
